{% extends '::base.html.twig' %}

{% block content %}
	<h1>{{ action }} Project</h1>
	
	<form method="post">
		<ul id="projectInfos">
			<li>{{ form_row(form.name) }}</li>
			
			<li>{{ form_row(form.description) }}</li>
		</ul>
		{{ form_widget(form) }}
		
		{% if showButton is not defined or showButton %}
			<button type="submit">{{ action }} Project</button>
		{% endif %}
	</form>
		
{% endblock %}