{% extends 'PRO4LoginBundle:Login:index.html.twig' %}

{% set action = path('register') %}

{% block header %}
	<a href="{{ path('login') }}">Login</a>
{% endblock %}

{% block form %}
	<fieldset>
		<legend>Register</legend>
		<div class="error">
			{{ form_errors(form) }}
		</div>
		
		<ul>
			<li> {{ form_row(form.eMail) }} </li>
			<li> {{ form_row(form.password) }}</li>
			<li>
				<button type="submit" name="register"> Register </button>
			</li>
		</ul>
		
		{{ form_widget(form) }}
	</fieldset>
{% endblock %}