{% extends '::base.html.twig' %}

{% block content %}
	<h1>Users in {{ department.name }}</h1>
	<div id="users">
	
	{% if is_granted("EDIT", department) %}
		<form method="post">
			<fieldset>
				<legend>Add new User to Department</legend>
				<ul>
					<li>{{ form_row(form.user) }}</li>
				</ul>
				{{ form_widget(form) }}
			
				<button type="submit">Add User</button>
			</fieldset>
		</form>
	{% endif %}
	
	<h3>Users</h3>
	
	{% if users is empty %}
		No Users added to this department yet. Please add users or ask your administrator to do so.
	{% endif %}
	
	{% for user in users %}
		<div>
{{ user.eMail }}
			
			{% if user.isOwner %}
				| Project Owner
			{% elseif user.isOperator %}
				| Department Operator
			{% elseif user.isAdmin %}
				| Admin
			{% endif %} 
			
			{% if is_granted("EDIT", department) %}
	        	{% if not user.isOperator %}
	        		{% if is_granted("OPERATOR", department) or not user.isAdmin %}
	        			| <a href="{{ path("remove_user_from_department", {"projectId" : project.projectId, "departmentId" : department.departmentId, "userId" : user.userId }) }}">Remove</a>        			
		        	{% endif %}
		        	
		        	{% if is_granted("OPERATOR", department) %}

			        	{% if not user.isAdmin %}
			        		| <a href="{{ path("grant_admin_in_department", {"projectId" : project.projectId, "departmentId" : department.departmentId, "userId" : user.userId }) }}">Grant Admin</a>
			        	{% endif %}  
			        			
			        	{% if user.isAdmin %}
			        		| <a href="{{ path("revoke_admin_in_department", {"projectId" : project.projectId, "departmentId" : department.departmentId, "userId" : user.userId }) }}">Revoke Admin</a>
			        	{% endif %}
			        	
			        {% endif %}
	        	{% endif %}
			{% endif %}
			
		<div>
	{% endfor %}
	</div>
		
{% endblock %}