<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	{% block stylesheets %}
		<link href="{{ asset('bundles/pro4/css/main.css') }}" type="text/css" rel="stylesheet" />
		<link href="{{ asset('bundles/pro4/colorpicker/css/colorpicker.css') }}" type="text/css" rel="stylesheet" />
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet" type="text/css" />
	{% endblock %}
	{% block js %}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
		<script src="{{ asset('bundles/pro4/colorpicker/js/colorpicker.js') }}"></script>
		<script src="{{ asset('bundles/pro4/js/script.js') }}"></script>
	{% endblock %}
    <title>PRO4</title>
</head>

<body>
	{% if status is defined %}
		{% for key, msgs in status %}
			<ul class="{{ key }}">
			{% for msg in msgs %}
				<li>{{ msg }}</li>
			{% endfor %}
			</ul>
		{% endfor %}
	{% endif %}
	<div id="wrap">
		<header>
			<a href="{{ path('logout') }}">Logout</a>
		</header>
		<div id="content">
			{% block content %} {% endblock %}
		</div>
		<footer>
			{% block footer %} {% endblock %}
		</footer>
    </div>
</body>
</html>