<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	{% block stylesheets %}
		<link href="{{ asset('bundles/pro4/colorpicker/css/colorpicker.css') }}" type="text/css" rel="stylesheet" />
		<link href="{{ asset('bundles/pro4/js/jquery-ui-1.10.3/themes/custom-theme/jquery-ui.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ asset('bundles/pro4/css/main.css') }}" type="text/css" rel="stylesheet" />
	{% endblock %}
	{% block js %}
		<script src="{{ asset('bundles/pro4/js/jquery-1.9.1.js') }}"></script>
		<script src="{{ asset('bundles/pro4/js/jquery-ui-1.10.3/ui/jquery-ui.js') }}"></script>
		<script src="{{ asset('bundles/pro4/colorpicker/js/colorpicker.js') }}"></script>
		<script src="{{ asset('bundles/pro4/js/script.js') }}"></script>
	{% endblock %}
    <title>PRO4</title>
</head>

<body>
	{% if status is defined %}
		{% for key, msgs in status %}
			<ul class="{{ key }}">
			{% for msg in msgs %}
				<li>{{ msg }}</li>
			{% endfor %}
			</ul>
		{% endfor %}
	{% endif %}
	<div id="listWrap">
		{% block head %} {% endblock %}
		<div id="content">
		{% block content %} {% endblock %}
		</div>
		<footer>
			{% block footer %} {% endblock %}
			<p>
				&copy; Copyright by Iris Schaffer &amp; Paul Stangl - <a href="#">Contact</a> - <a href="#">Impressum</a>
			</p>
		</footer>
    </div>
</body>
</html>